<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>组件</title>
  <script src="../../../static/js/vue.js"></script>
</head>
<body>
  <div id="my_com">
    <mycomp></mycomp>
    <mycom></mycom>
    <testprops msg="aaa"></testprops>
    <input v-model.lazy="value">
    <testprops2 v-bind:msg="value"></testprops2>
    <todo v-for="item in sites" v-bind:todo="item"></todo>
  </div>
  <script>
    Vue.component('mycomp',{
      template:'<h1>自定义全局组件：mycom</h1>'
    })
/*父组件的数据需要通过 props 把数据传给子组件，子组件需要显式地用 props 选项声明 "prop"：*/
    /* prop 是单向绑定的：当父组件的属性变化时，将传导给子组件，但是不会反过来。*/
    Vue.component('testprops',{
      props: ['msg'],
      template: '<p>获取到msg值：{{msg}}</p>'
    })
    Vue.component('testprops2',{
      props: ['msg'],
      template: '<p>动态获取到msg值：{{msg}}</p>'
    })
    /*将 v-bind 指令将todo传到每一个重复的组件中：*/
    Vue.component('todo',{
      props: ['todo'],
      template: '<li>{{todo.name}}</li>'
    })
    /*在实例选项中注册局部组件，这样组件只能在这个实例中使用*/
    var child={
      template:'<h2>自定义子组件：mycom</h2>'
    }
/*Prop 验证*/
    Vue.component('',{
      props:{
        // 基础的类型检查 (`null` 和 `undefined` 会通过任何类型验证)
        propA: Number,
        // 多个可能的类型
        propB: [String, Number],
        // 必填的字符串
        propC:{
          type:String,
          required: true
        },
        // 带有默认值的数字
        propD:{
          type: Number,
          default: 100
        },
        // 带有默认值的对象
        propE:{
          type: Object,
          // 对象或数组默认值必须从一个工厂函数获取
          default: function () {
            return{'msg':'你好！'}
          }
        },
        propF:{
          validator: function(value) {
            // 这个值必须匹配下列字符串中的一个
            return ['success', 'warning', 'danger'].indexOf(value) !== -1
          }
        }
      }
    })

    new Vue({
      el:'#my_com',
      data: {
        value:'',
        sites:[
          {name:'小明'},
          {name:'小红'},
          {name:'小强'},
          {name:'小花'}
        ]
      },
      components:{
        'mycom': child
      }
    })
  </script>

<div id="ddiv">
    <div id="ex">
      <p>{{total}}</p>
      <button-ex v-on:aaa="incrementTotal"></button-ex>
      <button-ex v-on:aaa="incrementTotal"></button-ex>
    </div>
</div>
  <script>
    Vue.component('button-ex', {
      template: '<button @click="incrementHandler">{{counter}}</button>',
      data: function () {
        return{
          counter: 0
        }
      },
      methods:{
        incrementHandler: function () {
          this.counter += 1;
          this.$emit('aaa')
        }
      }
    });
    new Vue({
      el: '#ex',
      data:{
        total: 0
      },
      methods: {
        incrementTotal: function () {
          this.total += 1;
        }
      }

    })
  </script>


  <div id="ex2">
    <button-ex2></button-ex2>
    <button-ex2></button-ex2>
    <button-ex2></button-ex2>
  </div>
  <script>
    var buttonCounter2Data = {
        count: 0
      }
       Vue.component('button-ex2',{
         template: '<button @click="count++">我被电击了{{count}}</button>',

         data: function () {
           return buttonCounter2Data
         }
       })
    new Vue({
      el:'#ex2'
    })
  </script>
</body>
</html>
